<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Inicio</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/principal/assets/img/castor.png" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <link href="principal/css/styles.css" rel="stylesheet" />

</head>

<body>
  <header>
    <!-- Navigation-->
    <nav class="navbar navbar-light  static-top">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/principal/assets/img/castor.png" alt="logo" width="33" height="33"
            class="d-inline-block align-text-top">
          <b>ORGANITOR</b>: La planificación a un nivel superior.</a>
        <div class="container-left">
          <a class="btn btn-primary" href="/registro">Registarse</a>
          <a class="btn btn-primary" href="/inicio_sesion">Iniciar sesión</a>
        </div>
      </div>
    </nav>

    <div class="bg-light text-center pt-5" style="height: 100vh;">
      <div class="container">
        <h1 class="display-1 pt-5 font-weight-bold">404</h1>
        <h1 class="display-4 pt-1 pb-3">Página no encontrada</h1>
        <h3 class="font-weight-light text-secondary">La página que está buscando
          <br> no se encuentra disponible
        </h3>
        <a href="/" class="btn btn-primary mt-3 pt-3 pb-3 pr-4 pl-4">Volver a la página de incio</a>
      </div>
    </div>
  </header>

</body>

</html>