{{#if mensaje_correcto}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{mensaje_correcto}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>

</div>
{{/if}}

{{#if mensaje_error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{mensaje_error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
{{/if}}

{{#each correctos}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>

</div>
{{/each}}