<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Inicio</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/principal/assets/img/castor.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="principal/css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light  static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/principal/assets/img/castor.png" alt="logo" width="33" height="33"
                    class="d-inline-block align-text-top">
                <b>ORGANITOR</b>: La planificación a un nivel superior.</a>
            <div class="container-left">
                <a class="btn btn-primary" href="/registro">Registarse</a>
                <a class="btn btn-primary" href="/inicio_sesion">Iniciar sesión</a>
            </div>
        </div>
    </nav>

    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container col-5">
            <div class="row  justify-content-between align-items-center ">

                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <a href="#productos">
                            <div class="features-icons-icon d-flex">
                                <img src="https://cdn-icons-png.flaticon.com/128/2081/2081930.png"
                                    class="img-fluid mx-sm-auto" alt="Responsive image">
                            </div>
                        </a>
                        <h3>Lista de la compra</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <a class="text-decoration-none" href="#notas">
                            <div class="features-icons-icon d-flex">
                                <img src="https://cdn-icons-png.flaticon.com/512/752/752326.png"
                                    class="img-fluid mx-sm-auto" alt="Responsive image">
                            </div>
                        </a>
                        <h3>Notas personalizadas</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0" id="productos">
                <div class="col-lg-6 text-white showcase-img"
                    style="background-image: url('principal/assets/img/lista_compra2.jpg')"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Lista de la compra</h2>
                    <p class="lead mb-0">Esta función permite crear una lista de la compra y puede 
                        acceder a ella en cualquier momento.</p>
                    <ul class="lead">
                        <li>Añadir productos.</li>
                        <li>Editar productos.</li>
                        <li>Eliminar productos.</li>
                    </ul>
                </div>
            </div>
            <div class="row g-0" id="notas">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                    style="background-image: url('principal/assets/img/notas.jpg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Notas personalizadas</h2>
                    <p class="lead mb-0">Esta función permite crear notas personalizadas y
                        puede acceder a ella en cualquier momento.</p>
                    <p class="lead mb-0">
                    <ul class="lead">
                        <li>Añadir notas.</li>
                        <li>Editar notas.</li>
                        <li>Eliminar notas.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>