<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Editar producto</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/principal/assets/img/castor.png" />
    <!-- Custom fonts for this template-->
    <link href="/perfil/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Custom styles for this template-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/perfil/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="js/bootstrap.js"></script>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {{!-- barra lateral --}}
        {{>lateral_notas}}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {{!-- NAVEGACION --}}
                {{>navegacion}}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Lista de la compra</h1>
                    </div>

                    <!-- lista -->
                    <div class=("col-md-4 mx-auto")>
                        <div class=("card text-center")>
                            <div class=("card-header")>
                                <h3>Editar producto</h3>
                            </div>
                            <div class="card-body">
                                <form action="/lista/editar/{{producto._id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="form-group">
                                        <label for="producto">Producto</label>
                                        <input type="text" class="form-control" name="nombre"
                                            value="{{producto.nombre}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="cantidad">Cantidad</label>
                                        <input type="number" class="form-control" name="cantidad" min="1"
                                            value="{{producto.cantidad}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="precio_unidad">Precio por unidad</label>
                                        <input type="number" class="form-control" name="precio_unidad" min="1"
                                            value="{{producto.precio_unidad}}">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block">
                                            Guardar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- cerrar_sesion-->
                {{>cerrar_sesion}}
                {{!-- scripts --}}
                {{>scripts}}
</body>

</html>